main {
    width: 100%;
    height: 25rem;

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1.5rem;

    color: white;
}

main .card {
    border-radius: var(--card-border-radius);
}

main .stats-options {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;

    background-color: var(--dark-blue);
}

main .stats-options .profile {
    height: 70%;

    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    padding: 1.5rem;
    background-color: var(--blue);
}

.profile img {
    width: 65px;
    height: 65px;

    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
}

.profile p {
    font-size: 12px;
    color: var(--pale-blue);

    margin-bottom: 0.3rem;
}

.profile h3 {
    font-size: 28px;
    font-weight: var(--light);
}

main .stats-options .view-options {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    padding: 1.2rem;
}

.view-options a {
    font-size: 14px;
    color: var(--desaturated-blue);
    text-decoration: none;

    transition: color 0.3s;
}

.view-options .active {
    color: white;
}

.view-options a:hover {
    color: white;
}

main .stats.card {
    min-height: 8rem;

    display: flex;
    background-repeat: no-repeat;
    background-position-y: -10%;
    background-position-x: 90%;

    cursor: pointer;
}

#work {
    background-image: url('/images/icon-work.svg');
    background-color: var(--light-orange);
}

#play {
    background-image: url('/images/icon-play.svg');
    background-color: var(--soft-blue);
}

#study {
    background-image: url('/images/icon-study.svg');
    background-color: var(--light-red);

}

#exercise {
    background-image: url('/images/icon-exercise.svg');
    background-color: var(--lime-green);
}

#social {
    background-image: url('/images/icon-social.svg');
    background-color: var(--violet);
}

#self-care {
    background-image: url('/images/icon-self-care.svg');
    background-color: var(--soft-yellow);
}

.stats .timeframe {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;

    padding: 1.2rem;

    background-color: var(--dark-blue);
    transition: background 0.4s;
}

.stats:hover .timeframe {
    background-color: #34397B;
}

.stats .timeframe > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats .timeframe .title {
    font-size: 14px;
    font-weight: var(--medium);
}

.stats .timeframe button {
    display: flex;
    
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.timeframe button img {
    width: 90%;
}

.timeframe .current {
    font-size: 2.5rem;
    font-weight: var(--light);
}

.timeframe .previous {
    color: var(--pale-blue);
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    main {
        height: 100%;
        padding: 1.5rem;
    }

    main .stats-options .profile {
        flex-direction: row;
        align-items: center;

        column-gap: 1.2rem;
    }

    .profile h3 {
        font-size: 17px;
    }

    main .stats-options .view-options {
        flex-direction: row;
        justify-content: space-around;
    }

    main .stats .timeframe > div:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .timeframe .current {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1080px) {
    main {
        grid-template-columns: repeat(4, 12rem);
    }
}